.welcome {
    text-align: center;
    font-family: "Arial";
    color: blueviolet;
    font-size: 80px;
    margin-top: 5%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

  font-size: 40px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;

  font-size: 40px;
}


label {
    font-family: Arial;
    font-size: 50px;
}



.login {
  padding: 16px;
}
