body {
    font-family: "Arial";
}

.head-bar {
	box-sizing: border-box;
	position: relative;
	color: white;
	text-align: center;
	height: 10%;
	width: 100%;
	background-color: #e6ccff;
	text-shadow: 1px 1px 1px #000000;
	font-size: 30px;
	padding-top: 10px;
}

.back-button {
	position: relative;
	width: 20%;
	height: 50%;
	left: 2%;
	top: 20%;
	border: 1px solid white;
	color: purple;
	background-color: #CCC;
	text-shadow: 0px 0px 0px;
	float: left;
}

.back-button > i {
	font-size: 90px;
}

.header-text {
	box-sizing: border-box;
	position: relative;
	float: left;

	margin-top: 2%;
	margin-left: 12%;

	font-size: 90px;
}
