body {
    font-family: "Arial";
}

.head-bar {
	color: white;
	text-align: center;
	height: 10%;
	width: 100%;
	background-color: #e6ccff;
	text-shadow: 1px 1px 1px #000000;
}

.profile-button {
  float: right;
  width: 20%;
}

.profile-button > a > img {
    width: 90%;
}

.app-name {
  text-align: center;
  font-size: 150px;
  color: blueviolet;
}
.block-button {
  display: block;
  width: 100%;
  height: 20%;
  border: none;
  margin-top: 200px;
  background-color: #4caf50;
  color: white;
  padding: 14px 28px;
  font-size: 80px;
  cursor: pointer;
  text-align: center;
}

#date {
  text-align: center;
  font-size: 24px;
}

a {
    text-decoration: none;
}