#info {
    font-size: 100px;
    position: relative;
    float: left;
}

.prefs {
    font-size: 60px;
    font-weight: bold;
    position: relative;
    padding-top: 0px;
}
.foods {
    float: left;
    width: 100%;
}

ul {
    font-weight: normal;
}

.block-button {
    display: block;
    width: 20%;
    height: 7%;
    border: none;
    background-color: #4caf50;
    color: white;
    padding: 14px 28px;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    float: right;
    margin-right: 4%;
}

a {
    text-decoration: none;
}

#favorites_header {
    position: relative;
    float: left;
    margin-top: 4%;
    margin-bottom: 4%;
}

.vertical-menu {
  width: 100%;
  height: 56%;
  overflow-y: auto;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.list_item {
    width: 100%;
    height: 32%;
    border-style: solid;
    border-width: 3px;
    border-color: #ccc;
}

.list_item img {
    width: 30%;
    background-color: white;
    float: left;
}

#remove_icon {
    background-color: transparent;
    float: right;
    width: 15%;
    margin-top: 7%;
}


#add-food {
    width: 100%;
    height: 15%;
}

#add-food img {
    width: 15%;
    margin-left: 7%;
    background-color: #eee;
}

#add-food-text {
    font-weight: normal;
    position: relative;
    float: left;
    margin-left: 9%;
    margin-top: 4%;
}

.food_name {
    float: left;
    margin-top: 3%;
    margin-left: 2%;
    font-weight: normal;
    width: 50%;
}
